
.tx-10 {
    font-size: 1rem;
}

.tx-11 {
    font-size: 1.1rem;
}

.tx-12 {
    font-size: 1.2rem;
}

.tx-13 {
    font-size: 1.3rem;
}


.w-50 {
    width: 50%
}


.opa-10 {


}


.padd-1 {
    padding: .1rem;
}

